.side-page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.search-panel {
  .left {
    margin-left: 4px;
  }
  .button-glyph {
    margin-left: 1px;
    font-weight: bold;

    &[data-selected="true"],
    &:hover {
      background-color: initial;
    }
  }
}

.side-page--paragraph {
  white-space: pre;
}

.search-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.search-list-item {
  display: flex;
  flex-direction: column;

  &:nth-child(2n):not(:hover, :active, [data-selected="true"]) {
    background-color: var(--pb-bg-dark);
  }

  .list-main {
    .service-path {
      font-size: 0.7em;
    }
    .rpc-name {
      font-weight: bold;
    }

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
