.tabs {
  display: grid;
  height: 100%;
  grid-template-rows: auto 1fr;
  .tab-bar {
    display: flex;
    background-color: var(--oc-gray-2);

    @media (prefers-color-scheme: dark) {
      background-color: var(--oc-gray-8);
    }
  }
}

.panel {
  height: 100%;
  padding-left: 12px;
  overflow-y: scroll;
}
