.request-list {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  background-color: var(--oc-gray-2);
  border-right: 1px solid var(--pb-sep);

  @media (prefers-color-scheme: dark) {
    background-color: var(--oc-gray-8);
  }
}

.request-list-item {
  .service-path {
    font-size: 0.7em;
  }
  .rpc-name {
    font-weight: bold;
  }
  .service-path,
  .rpc-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
