.request-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.request-list-item {
  display: flex;
  justify-content: space-between;

  &:nth-child(2n):not(:hover, :active, [data-selected="true"]) {
    background-color: var(--pb-bg-dark);
  }

  .list-main {
    .service-path {
      font-size: 0.7em;
    }
    .rpc-name {
      font-weight: bold;
    }

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .list-right {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;

    .list-status {
      flex-shrink: 0;
      position: relative;
      color: var(--pb-fg-active);

      .payload-circle {
        background-color: var(--oc-green-8);
      }

      .error-circle {
        background-color: var(--oc-red-8);
      }

      .payload-circle,
      .error-circle {
        margin-left: 0.25em;

        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1em;
        height: 1em;
        border-radius: 50%;
      }
    }

    .drag-area {
      margin-left: 0.5em;
      width: 11px;
      height: 23px;
      opacity: 0.3;
      margin-top: -1px;
      border-left: 4px dotted;
      border-right: 4px dotted;
      cursor: grab;
    }
  }
}
