.request-list {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.request-list-item {
  padding: 0.25em 1em;
  padding-bottom: 0.4em;
  background: #fff;
  outline: 1px solid #ccc;
  cursor: pointer;
  &:hover {
    background: #eee;
  }
  &[data-selected="true"] {
    background: #ddd;
  }
  .service-path {
    font-size: 0.7em;
  }
  .rpc-name {
    font-weight: bold;
  }
  .service-path,
  .rpc-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
