.settings {
  display: flex;
  flex-direction: column;

  border-bottom: 1px solid var(--pb-sep);

  > * {
    &:not(:first-child) {
      border-top: 1px solid var(--pb-sep);
    }
  }
}

.search-section {
  display: flex;
  height: 26px;
  align-items: stretch;
  padding-left: 4px;

  .filter-input {
    width: 163px;
    margin-right: 6px;
  }

  .margin-left {
    margin-left: 4px;
  }
}

.vertical-sep {
  width: 1px;
  margin: 5px 4px;
  background-color: var(--pb-sep);
}
