:root {
  height: 100%;
  overflow: hidden;

  --pb-bg: var(--oc-white);
  --pb-fg: var(--oc-black);
  --pb-sep: var(--oc-gray-6);
  --pb-bg-light: var(--oc-white);
  --pb-bg-hover: var(--oc-blue-2);
  --pb-bg-active: var(--oc-blue-7);
  --pb-bg-focus: var(--oc-blue-5);
  --pb-fg-hover: var(--pb-fg);
  --pb-fg-active: var(--oc-white);
  --pb-fg-focus: var(--oc-white);

  @media (prefers-color-scheme: dark) {
    --pb-bg: var(--oc-gray-8);
    --pb-fg: var(--oc-gray-5);
    --pb-sep: var(--oc-gray-7);
    --pb-bg-light: var(--oc-gray-7);
    --pb-bg-hover: var(--oc-blue-7);
    --pb-bg-active: var(--oc-gray-9);
    --pb-bg-focus: var(--oc-blue-4);
    --pb-fg-hover: var(--oc-white);
    --pb-fg-active: var(--oc-white);
    --pb-fg-focus: var(--oc-white);
  }
}

body {
  color: var(--pb-fg);
  max-height: 100vh;
}

button {
  padding: 0;
}

input {
  border: 0;
  color: var(--oc-gray-5);
  background-color: var(--oc-gray-9);
  padding: 0.25em;
}

// For compatibility with the Chromium devTools environment.
body {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 0;
  cursor: default;
  font-family: system-ui, sans-serif;
  font-size: 12px;
  tab-size: 4;
  user-select: none;
}

* {
  box-sizing: border-box;
  min-width: 0;
  min-height: 0;
}
