:root {
  --pb-bg: var(--oc-white);
  --pb-fg: var(--oc-black);
  --pb-sep: var(--oc-gray-6);
  --pb-bg-hover: var(--oc-blue-2);
  --pb-bg-active: var(--oc-blue-7);
  --pb-bg-focus: var(--oc-blue-5);
  --pb-fg-hover: var(--pb-fg);
  --pb-fg-active: var(--oc-white);
  --pb-fg-focus: var(--oc-white);

  @media (prefers-color-scheme: dark) {
    --pb-bg: var(--oc-black);
    --pb-fg: var(--oc-white);
    --pb-sep: var(--oc-gray-7);
    --pb-bg-hover: var(--oc-blue-3);
    --pb-bg-active: var(--oc-blue-7);
    --pb-bg-focus: var(--oc-blue-4);
    --pb-fg-hover: var(--pb-fg);
    --pb-fg-active: var(--oc-black);
    --pb-fg-focus: var(--oc-black);
  }
}

body {
  color: var(--pb-fg);
}
