:root {
  height: 100%;
  overflow: hidden;

  --pb-bg: var(--oc-white);
  --pb-fg: var(--oc-black);
  --pb-sep: var(--oc-gray-6);
  --pb-bg-dark: var(--oc-gray-1);
  --pb-bg-hover: var(--oc-blue-2);
  --pb-bg-active: var(--oc-blue-7);
  --pb-bg-focus: var(--oc-blue-5);
  --pb-fg-hover: var(--pb-fg);
  --pb-fg-active: var(--oc-white);
  --pb-fg-focus: var(--oc-gray-7);

  @media (prefers-color-scheme: dark) {
    --pb-bg: var(--oc-gray-8);
    --pb-fg: var(--oc-gray-5);
    --pb-sep: var(--oc-gray-7);
    --pb-bg-dark: rgba(var(--oc-gray-9-rgb), 0.5);
    --pb-bg-hover: var(--oc-blue-7);
    --pb-bg-active: var(--oc-gray-9);
    --pb-bg-focus: var(--oc-blue-4);
    --pb-fg-hover: var(--oc-white);
    --pb-fg-active: var(--oc-white);
    --pb-fg-focus: var(--oc-white);
  }
}

#__next {
  height: 100%;
}

body {
  color: var(--pb-fg);
  background: var(--pb-bg);
  max-height: 100vh;
}

button {
  padding: 0;
}

input {
  border: 0;
  padding: 0.25em;
  margin: 3px 0px;
  color: var(--oc-gray-9);
  background-color: var(--oc-gray-5);

  @media (prefers-color-scheme: dark) {
    color: var(--oc-gray-5);
    background-color: var(--oc-gray-9);
  }
}

// For compatibility with the Chromium devTools environment.
body {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 0;
  cursor: default;
  font-family: system-ui, sans-serif;
  font-size: 12px;
  tab-size: 4;
  user-select: none;
}

* {
  box-sizing: border-box;
  min-width: 0;
  min-height: 0;
}

.react-select__control {
  background-color: var(--pb-bg);
  border-color: var(--pb-fg);
  transition: none;

  &:hover {
    border-color: var(--pb-fg);
  }
}

.react-select__menu {
  background-color: var(--pb-bg);
  border: 1px solid var(--border-color);
}

.react-select__option {
  background-color: var(--bg-secondary);

  &:hover {
    background-color: var(--bg-primary);
  }
}

.react-select__indicator-separator {
  background-color: var(--border-color);
}

.react-select__placeholder,
.react-select__single-value {
  color: var(--text-primary);
}
