.page {
  display: grid;
  grid-template-columns: 15em 1fr;
  grid-template-rows: 100vh;
}

.sidebar {
  background-color: var(--oc-gray-2);
  border-right: 1px solid var(--pb-sep);

  @media (prefers-color-scheme: dark) {
    background-color: var(--oc-gray-8);
  }
}
